.login fieldset {
    margin: 1em 0;
    padding: 0.5em;
    display: block;
    min-inline-size: min-content;
    margin-inline: 2px;
    padding-block: 0.35em 0.625em;
    padding-inline: 0.75em;
}
.login fieldset legend {
    display: none;
}
.login form fieldset div {
    clear: left;
    margin: 0.5em 0;
}
.login .required label,
.login div.required span.label {
    font-weight: bold;
}
.login .required label:before,
.login form div.required span.label:before {
    content: '* ';
    color: #c00;
    font-weight: bold;
}
.login form fieldset div label,
.login form fieldset div span.label {
    display: block;
    position: relative;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    text-align: right;
    width: 320px;
}
.login input {
    display: inline-block;
}
.login p.note,
.login form fieldset div.controlset {
    clear: left;
    margin: 0 0 0 330px;
    font-style: italic;
}
