.login .inputfield, .login .required, .login .controlset {
    margin-top: 1.4em;
}
.login .required label,
.login div.required span.label {
    font-weight: bold;
}
.login .required label:before,
.login form div.required span.label:before {
    content: '* ';
    color: #c00;
    font-weight: bold;
}

.login form label,
.login form span.label {
    display: block;
}
.login p.note,
.login form div.controlset {
    clear: left;
}