.session-form input:not([type='checkbox'], [type='radio'], [type='submit']) {
  display: block;
  width: 75%;
}
.session-form .required label {
  font-weight: bold;
}
.session-form .required label:before {
  content: '* ';
  color: #c00;
  font-weight: bold;
}
.session-form .inputfield {
  margin: 1em 0;
}
.session-form .note {
  margin: 0em;
  font-style: italic;
}
.content-inner .session-form {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--main-color, #b4b4b4);
}
.content-inner p.success {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--main-color, green);
}
